/* .mydrawer{
    position: fixed;

    height: 100%;
    width: 60%;
    background: rgba(0, 0, 0, .2);
} */

button{
    height: 25px;
    width: 36px;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

button:focus{
    outline: none;
}

span{
    width: 20px;
    height: 1px;
    background: #fff;
}

@media all and (min-width: 649px) {
    .mydrawer{
        display: none;
    }   
}